<div class="container">
  <div class="row">
    <div class="jumbotron">
      <a href="http://imdb.com/title/{{ movie.imdbID }}" target="_blank"><h3>{{ movie.Title }}</a></h3>

      <img ng-src="{{movie.Poster}}" class="thumbnail animated flip movie-poster">




      <p>Released Date: {{ movie.Released }}</p>
      <p>Runtime: {{ movie.Runtime }}</p>
      <p>Plot Summary: {{ movie.Plot }}</p>

      <div>
        <p>Directors: {{ movie.Director }}</p>
        <p>Actors: {{ movie.Actors }}</p>
        <p>Genre: {{ movie.Genre }}</p>
      </div>

      <h3>IMDb Rating: {{ movie.imdbRating }}</h3>
    </div> <!--jumbotron-->
  </div> <!--row-->
</div> <!--container-->
